{% extends 'base.html' %} {% block content %}
<div class="container">
	<h1 class="mb-5">{% block title %}Todos{% endblock %}</h1>
	<table class="table table-bordered table-dark">
		<thead class="bg-secondary text-center">
			<tr>
				<th>Description</th>
				<th>Created Date</th>
			</tr>
		</thead>
		<tbody>
			{% for todo in todos %}
			<tr>
				<td>{{ todo.description }}</td>
				<td class="text-center">{{ todo['created_at'].strftime('%Y-%m-%d') }}</td>
				<td class="align-items-center">
					<a
						href="{{ url_for('todo.update', id=todo['id']) }}"
						class="btn btn-danger w-100"
						>Editar</a
					>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% if g.user %}
	<a class="mb-5 btn btn-secondary w-75" href="{{ url_for('todo.create') }}" id="create-modal"
		>Nuevo</a
	>
	{% endif %}
</div>
{% endblock %}
